body{
   background-color: rgb(255, 145, 0);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.experience-items{
    display: flex;
    margin: 0;

}

section {
    display: block;
}

.half-width{
    background-position: left;
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 100px;
}

#extra-item{
    background-image: url(images/shapes/Frame\ 59.jpg);

}

.orange-color{
    color: rgba(46, 243, 122, 0.829);
}

.order-food{
    text-decoration: none;
    background-color: rgb(247, 11, 11);
    color: rgb(20, 12, 2);
    border: 2px solid orange;
    padding: 10px 40px;
}


/* 3rd section */

.wrapper {
    margin-top: 10%;
}

.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
}
.items img {
    width: 300px;
    border-radius: 20px;
    text-align: center;
  }

.items{
    display: flex;
    text-align: center;
    width: auto;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px 20px gray;
}

.items .team-item{
    background-color: rgb(240, 168, 80);
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    position: relative;
    
}
.items .team-item h3{
    color: chocolate;
    font-size: 26px;
    margin-top: 50px;
}
.items .team-item p.role{
     color: rgb(5, 5, 5);
     font-size: 12px;
     text-transform: uppercase;
     margin: 12px 0;
}

/* Social-media */

.social-media {
    margin-top: 120px;
    margin-left: 160px;
    margin-right: 70px;
    width: 950px;
    height:90px;
    padding: 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px -2px rgb(48 47 46);
  
  }
  .fb, .tube, .inst {
      position: relative;
      width: 130px;
      height: 100px;
      margin-left: 150px;
  }

  footer{
    margin-top: 100px;
    text-align: center;
    color: white;
    background-color: rgb(77, 13, 73);
    padding: 5px 50px 110px 50px;
  }
  footer h2 span{
    color: rgb(43, 161, 116);
  }