body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

.experience-items{
    display: flex;
    margin: 0;

}

.half-width{
    background-position: left;
    text-align: justify;
    padding-left: 30px;
    padding-top: 40px;
    padding-right: 10px;
    margin-bottom: 100px;
}

#extra-item{
    background-image: url(images/shapes/Frame\ 59.jpg);

}

.orange-color{
    color: rgba(248, 144, 8, 0.829);
}

.order-food{
    text-decoration: none;
    background-color: rgb(253, 134, 22);
    color: rgb(20, 12, 2);
    border: 2px solid orange;
    padding: 10px 40px;
}


/* 3rd section */

.middle-item{
    text-align: center;
    margin-top: 100px;
}

#another-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    padding-left: 30px;
    border-radius: 20px;
    box-shadow: 25px 50px 40px gray;
}
.third-width{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(191, 30, 240) rgb(17, 219, 255));
    border-image-slice: 1;

}